<div class="card mx-auto mt-3 col-3">
	<div class="card-body">
		<a
			href="/auth/github"
			id="github-button"
			class="btn btn-block btn-social btn-github"
		>
			<i class="fa fa-github"></i> Sign in with Github
		</a>
	</div>
</div>
