<div class="container">
	<ul class="list-group list-group-flush col-6 mx-auto mt-5">
		<% if (notes.length > 0) { %> <% notes.forEach(note => { %>
		<li class="list-group-item d-flex">
			<a href="/notes/<%= note._id %> ">
				<%= note.title %>
			</a>
			<div class="ml-auto">
				<form action="/notes/<%= note.id %>?_method=DELETE" method="POST">
					<button class="btn btn-danger" type="submit">Delete note</button>
				</form>
			</div>
		</li>
		<% }) %> <% } else { %>
		<p class="text-center">You dont have any notes, click on Add note</p>
		<% } %>
	</ul>
</div>
